h1 {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 50px;
}
section {
  box-shadow: 0 4px 8px 0;
  border-radius: 5px;
  background-color: black;
  width: 80%;
  padding: 1% 2%;
}
.footer {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: right;
  font-size: 50px;
}
.info {
  font-family: 'Charmonman';
  color: white;
  font-weight:bold;
  text-align: left;
  font-size: 40px;
}
  
