h1 {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 50px;
}
section {
  margin: 20px auto;
  box-shadow: 0 4px 8px 0;
  border-radius: 10px;
  background-color: black;
  padding: 5% 7%;
}
.footer {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 30px;
}
.info {
  font-family: 'Charmonman';
  color: white;
  font-weight:bold;
  text-align: left;
  font-size: 40px;
}

  
