h1 {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 50px;
}
h3 {
  font-family: 'Amatic+SC';
  color: white;
  text-align: center;
  font-size: 20px;
p {
  padding-left: .2em;
  padding-right: .2em;
  padding-top: 15px;
  padding-bottom: 20px;
}
section {
  margin: 20px auto;
  box-shadow: 0 4px 8px 0;
  border-radius: 10px;
  background-color: black;
  padding: 5% 7%;
}
.footer {
  font-family: 'Amatic+SC';
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 30px;
}
.info {
  font-family: 'Charmonman';
  color: white;
  font-weight:bold;
  text-align: left;
  font-size: 40px;
}
@media screen and (max-width: 900px) {
  body {
    font-size: 0.85em;
    line-height: 2em;
  
